@use '@/styles/variables.scss' as *;

.container {
  min-height: 100vh;
  padding: $spacing-xl $page-padding 180rpx;
  box-sizing: border-box;
  background: $color-bg-card;
}

.body {
  width: 100%;
  margin: 0 auto;
  max-width: $max-content-width;
}

.fab {
  position: fixed;
  right: $page-padding;
  bottom: 110rpx;
  width: 104rpx;
  height: 104rpx;
  border-radius: 999rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2rpx solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.fabIcon {
  font-size: 48rpx;
  color: $color-text-white;
}