@use '@/styles/variables.scss' as *;

.container {
  min-height: 100vh;
  background: $color-bg-page;
}

.fallback {
  padding: $spacing-xl $page-padding;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fallback> :not(:first-child) {
  margin-top: $spacing-lg;
}